@using GM.ViewModels
@model GM.ViewModels.Challenges.ChallengesViewModel
@{
    ViewBag.Title = "Challenges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="redeemRewards">
        <div class="navbar-inner navbar-left">
            <nav class="nav-sidebar">
                <div class="brand">Earn points</div>
                <ul class="nav">
                    <li class="@(!Model.HasCategorySelected? "active" : null)">
                        <a href="@Url.Action("Index", "Challenges", 
                        new
                        {
                            filter = Model.Filter,
                            sortBy = Model.SortBy
                        })">All challenges</a>
                    </li>                    
                    @foreach (var categoryItem in Model.Categories.Where(c=> !c.Name.ToLower().Contains("invite")))//temporary solution
                    {
                        <li class="@(Model.HasCategorySelected && Model.Category.Id == categoryItem.Id? "active" : null)">
                            <a href="@Url.Action("Index", "Challenges", 
                            new
                            {
                                category = categoryItem.ShortName,
                                filter = Model.Filter,
                                sortBy = Model.SortBy
                            })">@categoryItem.Name</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="container redeemAllRewards-new">
            <div class="navbar-main">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h1 class="panel-title">@(Model.Category!= null? Model.Category.Name : "Take a challenge")</h1>
                        <div id="custom-search-input" class="col-md-5 pull-right">
                            @using (Html.BeginForm("Index", "Challenges", FormMethod.Get))
                            {
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Filter, new {@class = "search-query form-control", placeholder = "Search challenges"})
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button">
                                            <span class="icon-search"></span>
                                        </button>
                                </span>
                                </div>
                            }
                        </div>
                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="well redeem-all-rewards">
                                <h5 class="col-md-5 col-lg-5">@Model.SortByText</h5>
                                <div class="col-md-2 col-lg-2 text-right">
                                    <div id="admin-new"><b id="admin_text">Sort by</b>
                                    </div>
                                    <div id="settings" class="fa fa-cog"></div>
                                    <div id="menu">
                                        <a href="@Url.Action("Index",
                                                     new
                                                     {
                                                         category = Model.Category == null ? null : Model.Category.ShortName,
                                                         sortBy = SortByEnum.popular,
                                                         filter = Model.Filter
                                                     })">Popularity</a>
                                        <a href="@Url.Action("Index",
                                                     new
                                                     {
                                                         category = Model.Category == null ? null : Model.Category.ShortName,
                                                         sortBy = SortByEnum.newest,
                                                         filter = Model.Filter
                                                     })">Newest to oldest</a>
                                        <a href="@Url.Action("Index",
                                                     new
                                                     {
                                                         category = Model.Category == null ? null : Model.Category.ShortName,
                                                         sortBy = SortByEnum.expensive,
                                                         filter = Model.Filter
                                                     })">Points: High to low</a>
                                        <a href="@Url.Action("Index",
                                                     new
                                                     {
                                                         category = Model.Category == null ? null : Model.Category.ShortName,
                                                         sortBy = SortByEnum.cheapest,
                                                         filter = Model.Filter
                                                     })">Points: Low to high</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 pull-right top-pagination">
                                    <p>(@Model.NumRewards challenges found)</p>
                                    @if (Model.Page > 1)
                                    {
                                        <a href="@Url.Action("Index",
                                                     new
                                                     {
                                                         category = Model.Category == null ? null : Model.Category.ShortName,
                                                         page = Model.Page - 1, sort = Model.SortBy,
                                                         filter = Model.Filter
                                                     })" class="previous" data-action="previous"><span></span></a>
                                    }
                                    @if (Model.Page < Model.NumPages)
                                    {
                                        <a href="@Url.Action("Index",
                                                     new
                                                     {
                                                         category = Model.Category == null ? null : Model.Category.ShortName,
                                                         page = Model.Page + 1, sort = Model.SortBy,
                                                         filter = Model.Filter
                                                     })" class="next@(Model.Page == 1 ? " first": null)" data-action="next"><span></span></a>
                                    }
                                </div>

                                <div class="col-md-12">
                                    <ul class="list-group">
                                        @foreach (var item in Model.Challenges)
                                        {
                                            <li class="list-group-item reward-item-new challenge-item" data-id="@item.Id">
                                                <div class="media col-md-3">
                                                    <figure class="pull-left">
                                                        <a href="@Url.Action("Details", new { id= item.Id })">
                                                            @if (item.ShowImage)
                                                            {
                                                                <img class="media-object img-rounded img-responsive" src="@Url.Action("Upload", "General", new {id = item.ImageId1})?width=139" alt="@item.Name">
                                                            }
                                                            else
                                                            {
                                                                if (item.ChallengeCategoryShortName == "Action")
                                                                {
                                                                    <img class="media-object img-rounded img-responsive" src="/Images/action-default@3x.png" alt="@item.Name">
                                                                }
                                                                else if (item.ChallengeCategoryShortName == "Pledge")
                                                                {
                                                                    <img class="media-object img-rounded img-responsive" src="/Images/pledge-default@3x.png" alt="@item.Name">
                                                                }
                                                                else 
                                                                {
                                                                   <img class="media-object img-rounded img-responsive" src="/Images/learn-earn-default@3x.png" alt="@item.Name"> 
                                                                }
                                                            }
                                                            </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4 class="list-group-item-heading"> @item.Name </h4>
                                                    <p class="list-group-item-text reward-description-txt"> @item.About</p>
                                                    <p class="view-reward"><a href="@Url.Action("Details", new { id= item.Id })">Get started</a></p>
                                                </div>
                                                <div class="col-md-3 pull-right reward-points">
                                                    <h2 class="RewardItemPoints"> @item.Points <small> points </small>
                                                    </h2>
                                                    @if (item.ShowAddedButton)
                                                    {
                                                        <a href="@Url.Action("Details", new { id= item.Id })" class="btn mainBtn btn-lg btn-block add-to-cart"> Participating </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("Details", new { id= item.Id })" class="btn mainBtn btn-lg btn-block add-to-cart"> Earn points </a>
                                                    }
                                                    
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="col-md-12 col-lg-12 bottom-pagination-new">
                                    @if (Model.NumPages > 0)
                                    {
                                        if (Model.Page > 1)
                                        {
                                            <a href="@Url.Action("Index",
                                                         new
                                                         {
                                                             category = Model.Category == null ? null : Model.Category.ShortName,
                                                             page = Model.Page - 1, sort = Model.SortBy,
                                                             filter = Model.Filter
                                                         })" class="previous" data-action="previous"><span></span></a>
                                        }
                                        <span>Page</span>
                                        <input type="text" data-url="@Url.Action("Index")" class="js-page-change-submit" name="Page" value="@Model.Page"/>                                       
                                        <span>of @Model.NumPages</span>
                                        if (Model.Page < Model.NumPages)
                                        {
                                            <a href="@Url.Action("Index",
                                                         new
                                                         {
                                                             category = Model.Category == null ? null : Model.Category.ShortName,
                                                             page = Model.Page + 1, sort = Model.SortBy,
                                                             filter = Model.Filter
                                                         })" class="next pull-right" data-action="next"><span></span></a>
                                        }
                                    }
                                    else
                                    {

                                        <p>No results</p>
                                    }
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>
            </div>
        </div> <!-- Update profile - personal and contact information-->
    </div>
</div>

@section Styles {
    <link href="~/Css/auspost.css" rel="stylesheet" />
    <link href="~/Css/ausPostregistration.css" rel="stylesheet" />
}
<style type="text/css">
    #custom-search-input form {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .eatingout-bar ul.category-tabs li a, div.eatingout-bar ul.category-tabs li:last-child a {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        border-left: 1px solid #bbbdbf;
    }
    div.eatingout-bar ul.category-tabs li:first-child a {
        border-left: none;
    }
</style>